
{% extends 'base.html' %}

{% block title %}
    大叔你好，大叔再见
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/backweb/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/backweb/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/backweb/css/login.css' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static '/backweb/images/icon/icon.png' %}">
	<link rel="shortcut icon" href="{% static 'backweb/images/icon/favicon.ico' %}">
{% endblock %}

{% block content %}



    <div class="container">
        <div class="siteIcon"><img src="{% static '/backweb/images/icon/icon.png' %}"  title="欢迎进入大叔的垃圾博客" /></div>
        <form action="" method="post"  class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading" align="center">走进最渺小的自我</h2>
            <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
            <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
            <p>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit">登录</button>
            </p>
      </form>
    </div>

{% endblock %}


